@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    background: rgb(19, 19, 19);
}

header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(78, 78, 78);
    background: linear-gradient(to top, #fff, #f1f1f1);
    gap: 16px;
    padding-top: 15px;
    box-shadow: inset 3px -10px 14px 2px rgba(0, 0, 0, 0.6);
}

header h1 {
    margin-top: 10px;
    text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.418) ;
    color: #6B6C6E;
}

header .logo{
    margin-top: 2px;
    width: 50px;
    height: 50px;
    box-shadow: 1px 4px 6px rgb(0, 0, 0, 0.39);
    border-radius: 40%;
}

main {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 35px;
}

.icone {
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .3s ease;
}

.icone:hover {
    box-shadow: rgb(3, 3, 3) 0px 20px 30px -10px;
    animation: crescer .4s ease-in-out;
}

@keyframes crescer{
    0%{
        transform: scale(1);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}


/* // dispositivos extra pequenos (celulares em posição porta retrato, menores do que 576px) */
/* @media (max-width: 576px) { */


@media(max-width: 725px){
    main{
        max-width: 550px;
    }
}

/* @media (max-width: 768px) {
    main {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin: 0 35px;
    }

    .botao {
        border: 1px solid grey;
        border-radius: 18px;
        transition: 0.4s ease;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: scale(0.6);
    }

    .botao:hover {
        transform: scale(0.8);
        transform: rotate(8deg);
    }
} */